@using MvcBreadCrumbs;
@using KPI.Model.helpers;
@using KPI.Model.ViewModel
@{
    ViewBag.Title = "Home";
}
@{
    var userProfile = Session["UserProfile"] as UserProfileVM;
}
@Html.Raw(BreadCrumb.Display())
@if (@userProfile.User.Permission == 1)
{
    <div class="row animatedParent" id="home-admin">
        @foreach (var item in userProfile.Resources)
        {
            if (!item.CheckRole)
            {
                <a href="@item.Link" class="col-md-3 col-sm-6 col-xs-12 animated bounceInLeft slower  ">
                    <div class="info-box">
                        <span class="info-box-icon @item.BackgroudColor"><i class="@item.FontAwesome"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@item.Name</span>
                            @*<span class="info-box-number">@ViewBag.TotalLevel<small></small></span>*@
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            }

        }
    </div>
}
else
{
    <div class="row animatedParent" id="home-client">
        @foreach (var item in userProfile.Resources)
        {
            if (item.CheckRole)
            {
                <a href="@item.Link" class="col-md-3 col-sm-6 col-xs-12 animated bounceInLeft slower  ">
                    <div class="info-box">
                        <span class="info-box-icon @item.BackgroudColor"><i class="@item.FontAwesome"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@item.Name</span>
                            @*<span class="info-box-number">@ViewBag.TotalLevel<small></small></span>*@
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </a>
            }

        }
    </div>
}

