@using KPI.Model.helpers
@using KPI.Model.ViewModel
@{
    var userProfile = Session["UserProfile"] as UserProfileVM;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - KPI System</title>
    @RenderPage("_CSS.cshtml")
</head>
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index","Home",null)" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>KPI System</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>KPI System</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->

                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-commenting-o"></i>
                                <span class="label label-warning">3</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 3 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-success"></i> You have update 2 KPIs on 30th 2019
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-success"></i> You got new message from KPI system
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-success"></i> You team member was late on updating KPI Please pay attention on their jobs
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="/Content/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">

                                @if (@userProfile.User.Username != null)
                                {
                                    <span id="user" data-userid="@userProfile.User.ID.ToString()">
                                        @userProfile.User.Username.ToString()
                                    </span>
                                }

                            </a>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href='@Url.Action("Logout","Login")'>
                                <span class="hidden-xs"><i class="fa fa-sign-out"></i> Sign-out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @if (userProfile != null)
                {

                    <ul class="sidebar-menu" data-widget="tree">
                        <li style="height: auto;">
                            <a href="/">
                                <i class="fa fa-dashboard"></i> <span>Home</span>
                            </a>
                        </li>

                        @foreach (var item in userProfile.Resources)
                        {
                            if (item.CheckRole)
                            {
                                <li>
                                    <a href="@item.Link">
                                        <i class="@item.FontAwesome"></i> <span>@item.Name</span>
                                    </a>
                                </li>
                            }
                        }

                        @if (userProfile.User.Permission == 1)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span>Admin</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">

                                    @foreach (var item in userProfile.Resources)
                                    {
                                        if (item.CheckRole == false)
                                        {
                                            <li>
                                                <a href="@item.Link">
                                                    <i class="@item.FontAwesome"></i> <span>@item.Name</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }

                    </ul>
                }

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderPage("_PageHeader.cshtml")

            <!-- Main content -->
            <section id="content" class="content" style="overflow-x: scroll; overflow-x:hidden">

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2019 <a href="https://adminlte.io">By Henry Pham</a>.</strong>
        </footer>

        <div class="control-sidebar-bg"></div>
        <!--Loading-->
        <div id="main-loading-delay" style="display:none">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>
    @RenderPage("_Script.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>
